body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0.5em;
    padding-top: 20px;
}

h1::after {
    content: "";
    display: block;
    background: #a2a9b1;
    width: 80vw;
    height: 1px;
    transform: translateY(5px);
}

.form-main {
    display: grid;
    gap: 1em;
    width: 80vw;
}

.form-main div {
    display: inherit;
}

textarea {
    height: 50vh;
}

input[type="submit"] {
    width: 5%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}