{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit '{{ title }}' - Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit '{{ title }}'</h1>

    <form action="{% url 'edit' title=title %}" method="POST" class="form-main">
        {% csrf_token %}
        <div>
            <label for="edit-page__markdown-content">Edit the Markdown content for the page</label>
            <textarea name="markdown_content" id="edit-page__markdown-content">{{ content }}</textarea>
        </div>
        <input type="submit" value="Save">
    </form>

{% endblock %}