{% extends 'auctions/layout.html' %}

{% block title %}
    {{ category }} - Auctions
{% endblock title %}

{% block body %}
    <h2>Category: {{ category }}</h2>
    <div class="listings">
        {% for listing in listings %}
            <div class="listing-card" style="--_listing-img: url('{{ listing.image }}')">
                <div class="listing-card__content">
                    <h3 class="listing-card__title">{{ listing.item }}</h3>
                    {% if listing.number_of_bids == 0 %}
                        <h6><strong>${{ listing.listing_price }}</strong></h6>
                    {% else %}
                        <h6><strong>${{ listing.highest_bid.bid }}</strong></h6>
                    {% endif %}
                    <div class="listing-card__body">
                        <p class="listing-card__description">{{ listing.description }}</p>
                        <p>{{ listing.lister }}</p>
                    </div>
                    <a href="{% url 'listing' listing.id %}" class="listing-card__button button button-primary">See Listing</a>
                </div>
            </div>
        {% empty %}
            <h3>No listings for this category.</h3>
        {% endfor %}
    </div>
{% endblock body %}