{% extends 'auctions/layout.html' %}

{% block title %}
    Watchlist - Auctions
{% endblock title %}

{% block body %}
    <h2>Watchlist</h2>
    <div class="grid gap">
        {% for listing in watchlist %}
            <a href="{% url 'listing' listing.id %}" class="listing card-grid">
                <img src="{{ listing.image }}" alt="{{ listing.item }}">
                <div>
                    <h3>{{ listing.item }}</h3>
                    <p>${{ listing.price }}</p>
                    <p>{{ listing.description }}</p>
                    <div>Created {{ listing.timestamp }}</div>
                    <div>by {{ listing.lister }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock body %}