:root {
    --clr-brand: #1da1f1;
    --clr-brand-hover: #1785c9;
    --clr-bg: #fff;
    --clr-text: #000;
    --clr-text-500: hsla(0, 0%, 0%, 0.5);
    --clr-text-750: hsla(0, 0%, 0%, 0.75);
    --clr-text-900: hsla(0, 0%, 0%, 0.9);
    --clr-border: #dfdfdf;
}

/* General styling */

body {
    margin-inline: 30rem;
}

#logo {
    height: 2em;
}

textarea {
    resize: none;
}

.button-primary {
    font-weight: bold;
    color: var(--clr-bg);
    background: var(--clr-brand);
    border: none;
    outline: none;
    border-radius: 5rem;
    transition: background 300ms ease;
}

.button-primary:hover,
.button-primary:focus {
    background: var(--clr-brand-hover);
}

/* New post form */

.new-post {
    --post-border-radius: 0.25rem;

    display: grid;
    border: 1px solid var(--clr-border);
    border-radius: 0 0 var(--post-border-radius) var(--post-border-radius);
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.new-post textarea {
    height: 3ch;
    border: none;
    outline: none;
    transition: height 300ms ease;
}
.new-post:focus-within textarea {
    height: 10ch;
}

.new-post > [type="submit"] {
    justify-self: end;
    padding: 0.5em 1em;
}

/* Post */

.post__heading {
    display: flex;
    gap: 0.2rem;
}

.post__heading > :first-child {
    color: var(--clr-text);
    font-weight: bold;
    text-decoration: none;
}
.post__heading > :first-child:hover {
    color: var(--clr-text-750);
}
.post__heading > :not(:first-child) {
    color: var(--clr-text-500);
}

.post > :last-child {
    display: flex;
}
.post button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-bg);
    border: none;
}
.post button svg {
    width: 1em;
}
