:root {
    --ac-400: #3f4246;
    --ac-500: #5f6368;

    --bc-400: #202124;
    --bc-500: #303134;
    --bc-600: #8ab4f8;
    --bc-650: #aecbfa;

    --fc-400: white;

    --fs-400: 14px;
    --fs-700: 34px;
    --fs-800: 60px;
    --fs-900: 90px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: var(--bc-400);
    color: var(--fc-400);
    font-family: arial, sans-serif;
    font-size: var(--fs-400);
    display: grid;
    margin: 1rem;
}

.primary-nav {
    justify-self: end;
    display: flex;
    gap: 1em;
}

.primary-nav a {
    color: var(--fc-400);
    text-decoration: none;
}

.primary-nav a:hover {
    text-decoration: underline;
}

h1 {
    justify-self: center;
    font-size: var(--fs-900);
    font-weight: 500;
    letter-spacing: -3px;
}

form {
    display: grid;
    gap: 1.5rem;
    justify-items: center;
}

form input[type="text"] {
    color: inherit;
    background: var(--bc-400);
    border: 1px solid var(--ac-400);
    border-radius: 10rem;
    padding: 1em 4em;
    width: clamp(360px, 80vw + 1rem, 584px);
    outline: none;
}

form input[type="text"]:hover,
form input[type="text"]:focus-visible {
    background: var(--ac-400);
}

form input[type="submit"] {
    color: inherit;
    background: var(--bc-500);
    padding: 0.7em 1em;
    border: 1px solid var(--bc-500);
    border-radius: 4px;
    outline: none;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus-visible {
    border: 1px solid var(--ac-500);
}

.button-wrapper {
    display: flex;
    gap: 1em;
}

.advanced-form input[type="text"] {
    border-radius: 0;
    padding: 0.5em;
    outline: none;
    border: 1px solid var(--ac-500);
}

.advanced-form input[type="text"]:hover,
.advanced-form input[type="text"]:focus-visible {
    background: var(--bc-400);
}

.advanced-form input[type="text"]:focus-visible {
    border: 1px solid var(--bc-600);
}

.advanced-form input[type="submit"] {
    background: var(--bc-600);
}

.advanced-form input[type="submit"]:hover,
.advanced-form input[type="submit"]:focus-visible {
    background: var(--bc-650);
}

@media (max-width: 700px) {
    h1 {
        font-size: clamp(var(--fs-700), 4vw + 1rem, var(--fs-800));
        margin-top: 3em;
        letter-spacing: -1px;
    }
}

@media (min-width: 700px) {
    .advanced-form {
        display: grid;
        margin-inline: auto;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
            "header ."
            "text1 input1"
            "text2 input2"
            "text3 input3"
            "text4 input4"
            ". button"
    }

    .advanced-form h3 { 
        grid-area: header; 
        font-weight: 400;
    }
    #as_q { grid-area: text1; }
    #as_epq { grid-area: text2; }
    #as_oq { grid-area: text3; }
    #as_eq { grid-area: text4; }
    .advanced-form h3,
    .advanced-form span {
        justify-self: start;
    }
    .advanced-form input[name="as_q"] {
        grid-area: input1;
        width: 100% 
    }
    .advanced-form input[name="as_epq"] {
        grid-area: input2;
        width: 100% 
    }
    .advanced-form input[name="as_oq"] {
        grid-area: input3;
        width: 100% 
    }
    .advanced-form input[name="as_eq"] {
        grid-area: input4;
        width: 100% 
    }
    .advanced-form input[type="submit"] {
        grid-area: button; 
        justify-self: end; 
    }
}