{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="about-card">
        <h1 class="about-header">
            About Chess50
        </h1>
        <p>Chess50 is a mini-clone of the popular chess website <a class="link" href="https://www.chess.com/">chess.com</a> created as the final project for the course <a class="link" href="https://pll.harvard.edu/course/cs50-introduction-computer-science">CS50’s Introduction to Computer Science</a> at Harvard University. The front-end is mainly made with HTML and CSS, with some JavaScript for interactivity. The back-end is a combination of Python and JavaScript as well as Flask as the framework and SQLite for databases.</p>
        <h3>Play</h3>
        <p>The chess board UI is implemented with the JavaScript library <a class="link" href="https://chessboardjs.com/index.html">chessboard.js</a>. The TypeScript library <a class="link" href="https://github.com/jhlywa/chess.js/blob/master/README.md">chess.js</a> is used for chess move generation/validation, piece placement/movement, and check/checkmate/stalemate detection. It makes it possible to visualize whose turn it is, the current FEN of the position and which moves has been made during the game. The chess engine used is <a class="link" href="https://stockfishchess.org/">Stockfish 15.1</a> and automatically makes a move after a "player move" is made. It can technically play against itself if you continually click the "Computer Move" button. There is also features to take back a single move at a time as well as flipping the board if you want to play as black.</p>
        <h3>Puzzle</h3>
        <p>The current <a class="link" href="https://www.chess.com/daily-chess-puzzle/2023-06-20">daily puzzle</a> from chess.com. The chess board UI is again implemented with chessboard.js. You can restart the position until you feel you have got the right answer to the puzzle, but the site will not tell you when that is.</p>
        <h3>Leaderboard</h3>
        <p>The top five leaderboard from different time controls with data from chess.com's <a class="link" href="https://www.chess.com/news/view/published-data-api">PubAPI</a>.</p>
        <h3>Profile</h3>
        <p>Search a valid chess.com username to get their profile information and game stats.</p>
    </div>
{% endblock %}