<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/flags.css" rel="stylesheet">

    {% block packages %}{% endblock %}

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/2ed5d43c8b.js" crossorigin="anonymous"></script>

    {% set pages_with_no_navbar = ['/login', '/register']%}
    <title>{% if session["user_id"] or request.path in pages_with_no_navbar %}{% block title %}{% endblock %} | {% endif %}Chess50</title>
</head>
<body>
    {% if request.path not in pages_with_no_navbar %}
        <div class="hero">
            <div id="menu" class="menu">
                <a href="/" class="menu-logo"><i class="menu-logo-pawn fa-solid fa-chess-pawn fa-xl" style="color: #7fa650;"></i><span class="menu-logo-text">Chess</span>50</a>
                <a href="/play" class="menu-item">
                    <i class="menu-icon fa-solid fa-chess-board fa-lg" style="color: #897156;"></i>Play</a>
                <a href="/puzzle" class="menu-item">
                    <i class="menu-icon fa-solid fa-puzzle-piece fa-lg" style="color: #ff8040;"></i>Puzzle</a>
                <a href="/leaderboard" class="menu-item">
                    <i class="menu-icon fa-solid fa-trophy fa-lg" style="color: #ecec00;"></i>Leaderboard</a>
                <a href="/about" class="menu-item">
                    <i class="menu-icon fa-solid fa-circle-info fa-lg" style="color: #0080ff;"></i>About</a>
                {% if session["user_id"] %}
                    <a href="/profile" class="menu-item">
                        <i class="menu-icon fa-solid fa-user fa-lg" style="color: #d6d6d6;"></i>Profile</a>
                {% endif %}
                <div class="menu-btn-container">
                    {% if session["user_id"] %}
                        <a href="/logout" class="menu-btn logout-btn signup-btn">Log Out</a>
                    {% else %}
                        <a href="/register" class="menu-btn signup-btn">Sign Up</a>
                        <a href="/login" class="menu-btn login-btn">Log In</a>
                    {% endif %}
                </div>
            </div>
            <div class="mobile-nav">
                <button aria-controls="mobile-menu" class="mobile-menu-toggle" aria-expanded="false">
                    <span class="hamburger"></span>
                </button>
                <a href="/" class="menu-logo"><i class="menu-logo-pawn fa-solid fa-chess-pawn fa-xl" style="color: #7fa650;"></i><span class="menu-logo-text">Chess</span>50</a>
                <div class="mobile-nav-btn-container">
                    {% if session["user_id"] %}
                        <a href="/logout" class="mobile-nav-btn logout-btn signup-btn">Log Out</a>
                    {% else %}
                        <a href="/register" class="mobile-nav-btn signup-btn">Sign Up</a>
                        <a href="/login" class="mobile-nav-btn login-btn">Log In</a>
                    {% endif %}
                </div>
            </div>
            <nav id="mobile-menu" data-visible="false" class="mobile-menu">
                <ul>
                    <li><a href="#" class="mobile-menu-toggle-close"><i class="menu-icon fa-solid fa-xmark fa-xl" style="color: #c0c0c0;"></i><span>Close</span></a></li>
                    <li><a href="/" class="mobile-menu-item"><i class="menu-icon fa-solid fa-house fa-lg" style="color: #e6e6e6;"></i>Home</a></li>
                    <li><a href="/play" class="mobile-menu-item"><i class="menu-icon fa-solid fa-chess-board fa-lg" style="color: #897156;"></i>Play</a></li>
                    <li><a href="/puzzle" class="mobile-menu-item"><i class="menu-icon fa-solid fa-puzzle-piece fa-lg" style="color: #ff8040;"></i>Puzzle</a></li>
                    <li><a href="/leaderboard" class="mobile-menu-item"><i class="menu-icon fa-solid fa-trophy fa-lg" style="color: #ecec00;"></i>Leaderboard</a></li>
                    <li><a href="/about" class="menu-item"><i class="menu-icon fa-solid fa-circle-info fa-lg" style="color: #0080ff;"></i>About</a></li>
                    {% if session["user_id"] %}
                        <li><a href="/profile" class="menu-item"><i class="menu-icon fa-solid fa-user fa-lg" style="color: #d6d6d6;"></i>Profile</a></li>
                    {% endif %}
                </ul>
                <div class="mobile-menu-btn-container">
                    {% if session["user_id"] %}
                        <a href="/logout" class="mobile-menu-btn logout-btn signup-btn">Log Out</a>
                    {% else %}
                        <a href="/register" class="mobile-menu-btn signup-btn">Sign Up</a>
                        <a href="/login" class="mobile-menu-btn login-btn">Log In</a>
                    {% endif %}
                </div>
            </nav>       
            {% block main %}{% endblock %}
        </div>
    {% else %}
        {% block gate %}{% endblock %}
    {% endif %} 
</body>

<script src="/static/js/app.js"></script>

</html>