{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}
    <div class="leaderboard-wrapper">
        {% for category in categories %}
            <div class="leaderboard-card">
                <h2 class="leaderboard-header">
                    {% if category == "live_blitz" %}
                        <i class="fa-solid fa-bolt-lightning fa-2xl" style="color: #e4c801;"></i>Blitz
                    {% elif category == "live_bullet" %}
                        <i class="fa-solid fa-crosshairs fa-2xl" style="color: #b50000;"></i>Bullet
                    {% elif category == "live_rapid" %}
                        <i class="fa-solid fa-stopwatch fa-2xl" style="color: #7fa650;"></i>Rapid
                    {% endif %}
                </h2>
                <div class="leaderboard-table">
                    {% for player in leaderboards[category] %}
                        <div class="leaderboard-player">
                            <div>#{{ player["rank"] }}</div>
                            {% if player["title"] %}
                                <div class="got-title" data-tool-tip="{{ player["title"] }}"></div>
                            {% else %}
                                <div></div>
                            {% endif %}
                            <div>{{ player["username"] }}</div>
                            <div>{{ player["score"] }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}